body {
    background-color: white;
    display: flex;
    justify-content: center;
}

#container {
    width: 200px;
    height: 300px;
    border: solid black;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.rowOne {
    display: flex;
    flex-direction: row;
}